* {
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
    font-size: 93.75%;
}

body {
    background-image: url(https://static1.housesforsale.com/assets/cover/housesforsalebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: peachpuff;
    justify-content: center;
    align-items: center;
    table-layout: auto;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
}


main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.border {
    align-items: center;
    border: solid 1px black;
    padding: 73px;
    margin: 50px;
}

div {
    box-sizing: border-box;
    box-shadow: black;
    background: lightsalmon;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
} */

.section {
    justify-content: center;
    align-items: center;
    table-layout: auto;
    display: -webkit-flex;;
    padding: 2px;
    margin: 50px; 
}

/* would love to add a hover feature over the sections but not enough time */


/* max-width: 500px;
grid-template-columns: 1fr 1fr 1fr;
box-sizing: border-box;
border-radius: 2px;
display: inline; */